@import url('https://fonts.googleapis.com/css?family=Yantramanav');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Yantramanav', sans-serif;
  background-color: #34495e;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px;
}

.row {
  width: auto;
  border-radius: 25px;
  overflow: hidden;
}

.header {
  background-color: #f1c40f;
  color: #ffffff;
  padding-left: 75px;
  padding-top: 25px;
  font-size: 1.5em;
  width: 450px;
  height: 100px;
}

.main {
  background-color: #ecf0f1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 65px;
  padding-bottom: 25px;
}

.footer {
  background-color: #bdc3c7;
  height: 50px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
}

li {
  list-style: none;
}
h1 {
  font-size: 5em;
}

#weatherIcon {
  width: 96px;
  height: 96px;
  padding-bottom: 100px;
}

/* Style for toggle switch */
.switch_container {
  align-self: flex-end;
  padding-right: 50px;
}

.switchbox {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switchbox input {
  display:none;
}

.switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1c40f;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ecf0f1;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch:after {
  content: "F";
  color: #ffffff;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 14px;
  font-weight: 300;
}

input:checked + .switch:after {
  content: "C";
}

input:checked + .switch {
  background-color: #bdc3c7;
}

input:focus + .switch {
  box-shadow: 0 0 1px #bdc3c7;
}

input:checked + .switch:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}
